/* 
! Тексттовые свойства
?font+
? font-family+
? font-style+
? font-variant+
? font-size+
? line-height+
? font-weight+

! Шрифтовые свойства
? text-align+
? vertical-align+(особое внимание)
http://htmlbook.ru/css/vertical-align
? letter-spacing+
? word-spasing+
? text-indent+
? text-transform+
? text-decoration+
? text-shadow+
? color+
? @font-face (подключение шрифтов разными способами)+(ocoбое внимание: трансфонтеры, GoogleFonts)
? word-wrap+
? white-space+(особое внимание)

!Блочно-строчная модель документа
? width, max-width, min-width
https://habr.com/ru/post/483634/
http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
? padding+
? margin(схлопывание)+
http://htmlbook.ru/samlayout/blochnaya-verstka/skhlopyvayushchiesya-otstupy
? overflow+(особое внимание)
? стилизация ссылок+
? img+(особое внимание)
? display: inline-block+(особое внимание)
https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
? display: block+
? Валидатор (особое внимание)+
? git и github (особое внимание)+

!Оформление
? outline+
? border (transparent)+
? border-radius+
? opasity+
? visibility+
? box-shadow (filter:drop-shadow)+
* background: color image position size repeat attachment
? background-color+
? background-image+
? background-position+
? background-size
? background-repeat+
? background-attachment
*https://www.youtube.com/playlist?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr


  !Псевдоклассы
  ? :first-child+
  ? :last-child+
  ? :nth-child()+
  ? :last-of-type+
  ? :first-of-type+

  !Псевдоэлементы
  ? ::first-line+
  ? ::first-letter+
  ? ::before+
  ? ::after+

  !Форматы изображений
  ?webp
  ? <picture>
  ?   <source srcset="img/pic.webp" type="image/webp">
  ?   <img src="img/pic.jpg" alt="pic" with="0" height="0">
  ? </picture>

  !< !-- Б.Э.М. -->

  !< !-- Блок -->
  < !-- НЕЗАВИСИМЫЙ объект. НЕ влияет на окружение (внешние объекты).

  ?Имя класса БЭМ блока: 

  1) Имя должно соответствовать содержанию либо конструкции Отвечать на вопрос "Что это?"
  2) Английский язык (Латиница) 
  3) Нижний регистр 
  4) Если слов несколько,
  разделяем дефисом (-). 
  5) НИКАКОЙ ИЕРАРХИИ ! ! ! 
  
  Мы можем вкладывать сколько угодно БЭМ блоков друг в друга,
  также БЭМ блоки можно вкладывать в БЭМ элементы -->
*/


/*! < !-- Элемент -->
< !-- ЗАВИСИМЫЙ объект от своего БЭМ блока
ВСЕГДА находится внутри своего БЭМ блока 
МОЖЕТ влиять на окружение (внешние объекты) 

/*?Имя класса БЭМ элемента: 

1) Всегда начинается с имени первого родительского БЭМ блока и отделяется двумя нижними подчеркиваниями (__) 
2) Имя должно соответствовать содержанию либо конструкции. Отвечать на вопрос "Что это?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! 

БЭМ элементы можно вкладивать в другие БЭМ элементы своего БЭМ блока --> */


/*! < !-- Модификатор -->
< !-- Позволяет вносить отличия для БЭМ блока либо БЭМ элемента 

/*?Имя класса БЭМ модификатора: 

1) Добавляется как еще один класс для БЭМ блока или БЭМ элемента. Начинается с полного имени БЭМ блока или БЭМ элемента и отделяется одним нижними подчеркиванием (_) 
2) Имя должно соответствовать вносимым модификациям. Отвечать на вопрос "какой? что изменяем?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! --> */

/*! < !-- Микс -->

< !-- Смесь БЭМ блока и БЭМ элемента для одного объекта. 
При этом БЭМ элемент может выступать в роли БЭМ модификатора --> */


/* !Позиционирование
? position: static;
? position: relative;
? position: absolute;
? position: fixed;
? position: sticky;



/* !Трансформации
? transform: translate(x,y);
? transform: scale(n,m);
? transform: rotate(a + deg);
? transform: skew(a + deg, b+deg);
? transform-origin;
? 
? 
? 
? 




*/


/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap); */

/* @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


* {
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #f5f5f5;
}

.wrapper {
  
}

.header {
  
}

.main {
  min-height: 100vh;
}


/* ! --------------ИМЯ-БЛОКА------------------ */
.main {
  min-height: 400vh;
  padding: 50px 0px 100px 0px;

  background: #cac8c8;
}

.container {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
}


/* ! --------------Кабина Газ-66--------------- */
.cabine-top{
  height: 0;
  width: 240px;

  border-bottom: 120px solid #26614c;
  border-left: 50px solid transparent;
  border-right: 10px solid transparent;

  border-top-right-radius: 30px;
  border-top-left-radius: 150px 50px;
}

.cabine-bottom {
  position: absolute;
  left: -50px;
  top: 110px;

  width: 300px;
  height: 210px;

  background: #26614c;;
  border-top-left-radius: 150px 35px;
  border-top-right-radius: 10px 80px;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 5px 5px;
  box-shadow: 0 3px 12px #ffffff inset;
}


/* ! -----------Крыло кабины Газ-66----------- */
.cabine-wing {
  position: absolute;
  top: 280px;
  left: 40px;

  width: 145px;
  height: 10px;
  
  background: transparent;
  border: 2px solid #454545;
  box-shadow: 0 0 20px 0px #000, 0 0 2px #ffffff inset;
}

.cabine-wing::before {
  position: absolute;
  top: 15px;
  left: -45px;

  content:"";
  display: inline-block;
  width: 52px;
  height: 7px;

  background: transparent;
  border: 2px solid #454545;
  box-shadow: 0 0 20px 0px #000,
  0 0 2px #ffffff inset;

  transform: rotate(142deg);
}
.cabine-wing::after {
  position: absolute;
  top: 15px;
  left: 134px;

  content:"";
  display: inline-block;
  width: 52px;
  height: 7px;

  background: transparent;
  border: 2px solid #454545;
  box-shadow: 0 0 20px 0px #000,
  0 0 2px #ffffff inset;

  transform: rotate(-142deg);
}

.cabine-bottom__item {
  position: absolute;
  top: 280px;

  height: 0;
  width: 230px;

  border-bottom: 40px solid #494949;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}


/* ! --------------Окна кабины Газ-66-------- */
.cabine-window-front {
  position: absolute;
  top: 65px;
  left: -24px;

  width: 103px;
  height: 15px;

  background: #ffffff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 7px rgb(29, 28, 28) inset;

  transform: rotate(-67deg);
}

.cabine-window-side {
  position: absolute;
  top: 35px;
  left: 50px;

  width: 130px;
  height: 85px;

  background: #ffffff;
  border-top-left-radius: 90px 150px;
  box-shadow: -7px 0 20px 3px rgb(20, 19, 19) inset;
}

.partition-window-side {
  position: absolute;
  top: 35px;
  left: 95px;

  width: 10px;
  height: 85px;

  background: #000000;
  box-shadow: 0 -3px 8px #ffffff inset;
}


/* ! --------------Дверь кабины Газ-66--------- */
.cabine-door {
  position: absolute;
  top: 20px;
  left: 27px;

  width: 165px;
  height: 255px;

  background: transparent;
  border: 4px solid #494949;
  border-top-left-radius: 70px 150px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 15px #979494 inset;
}

.mirror-door-cabine {
  position: absolute;
  top: 95px;
  left: 260px;

  width: 25px;
  height: 65px;

  background: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 10px #ffffff inset;

  transform: rotate(3deg) skewX(-7deg);
}

.decor-door-cabine {
  position: absolute;
  top: 230px;
  left: 260px;

  width: 120px;
  height: 75px;

  background: transparent;
  border: 3px solid #494949;
  border-bottom: 1px solid rgb(153, 147, 147);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -8px 0 25px 0 #424040 inset;
}

.cabin-door-handle {
  position: absolute;
  top: 235px;
  left: 340px;

  width: 35px;
  height: 10px;
  
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 100px / 50px;
  box-shadow: 0 0 4px #000000 inset;
}